h1::first-letter{
    color: blueviolet;
    font-size: 200%;
}
h1{
    color: greenyellow;
}
P{  
    font-size:x-large;
    font-family:'Times New Roman', Times, serif
}
div{
    background-color: brown;
}
#result {
    font-size: 24px;
  }
  .winner {
    font-size: 48px;
  }
input[type = number]{
    background-color: #aad9aa;
    margin-bottom: 40px;
}  
body{
    background-image: url("https://i.gifer.com/XOsX.gif");
}